# Настройки базы данных
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=technoservice

# Настройки Directus
DIRECTUS_SECRET=8HBy8Ox5rLhluN7hEYwYVOxapPp6ZFpvX
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=admin123

# Адрес и токен для подключения из FastAPI
DIRECTUS_URL=http://localhost:8055
DIRECTUS_TOKEN=znQGMuH7myOaCJZ8xqJQZODZJJP6ZCBL

# Email settings
SMTP_HOST=Keil2023@yandex.ru
SMTP_PORT=465
SMTP_USER=Keil2023@yandex.ru
SMTP_PASSWORD=Egor2218!
SMTP_FROM=Keil2023@yandex.ru
SMTP_TO=egor.gorynych@inbox.ru