{% for service in services %}
<section class="service-card" data-service-id="{{ service.id }}">
    <div class="service-card__inner {% if loop.index is even %}service-card__inner--reverse{% endif %}">

        <!-- Текстовая колонка -->
        <div class="service-card__content">
            <img class="service-card__icon" src="{{ service.icon or '/static/img/svg/first_icon.svg' }}" alt="">
            <h2 class="service-card__title">{{ service.name }}</h2>

            {% if service.description %}
            <div class="service-card__description">
                {{ service.description }}
            </div>
            {% endif %}

            <!-- Динамические цены -->
            <div class="price-container" data-service-id="{{ service.id }}"></div>

            <a href="/contacts.html#audit-form" class="service-card__button">
                <span>Заказать услугу</span>
                <img src="/static/img/svg/arrow-right.svg" alt="" class="service-card__button-icon">
            </a>
        </div>

        <!-- Изображение -->
        <div class="service-card__image">
            <img src="{{ service.image_url or '/static/img/Image-one.png' }}" alt="{{ service.name }}">
        </div>

    </div>
</section>
{% endfor %}